<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body bgcolor="green"><div class="text"><font color="green"><h1><marquee width="1000" height="40"> Welcome to blood donation page,
    If u want to donate blood registration now,Donate blood and save life</marquee></h1></font></div>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">RR Soft</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
             <!-- <li><a href="/articles">Articles</a></li>-->
              <li><a href="/user_list">Doner List</a></li>

          </ul>
           <ul class="nav navbar-nav navbar-right">
                     <li><a href="/register">Register</a></li>
                     <li><a href="/login">Login</a></li>
                     <li><a href="/logout">Logout</a></li>
                     <li><a href="/gallery">Gallery</a></li>
                     <li><a href="/search">Search</a></li>
                     <!--<li><a href="/account">account</a></li>
                    <li><a href="/message">message</a> </li>-->
                    <li><a href="/show">show</a> </li>
                    <li><a href="/upload">upload</a> </li>
                   <!-- <li><a href="/gallery">gallery</a> </li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</body>
</HTML>
