{% extends 'layout.html' %}
{% block body %}
<style>

    body {
    background-image:url({{url_for('static',filename='TvuM20.jpg')}})
    }
</style>
<h1 style="color:white" > About Us </h1>
<p style="color:white"> Its my first work with Python.I attached here framework Flask and Database Most popular database Oracle.From this website someone the visitors will visit the site then registrarted  with information
    with their image and they will fing their desired blood group.take their phone number and with them.
</p>

{% endblock %}
