{% extends 'layout.html' %}
{% block body %}
<style>


    body {
    background-image:url({{url_for('static',filename='images.jpg')}});
    }
</style>
<img src="/images">
 <div class="jumbotron text-center" style="style="background:red ;position:relative;width :400px;margin:auto"">
  <h1 style="color:RED"> <b>Are You ready to donate blood? please Register.</b> </h1>
  <p class="lead" > From this website we can search blood doner </p>



  {% if session.logged_in == NULL %}
  <a href="register" class="btn btn-primary btn-lg">Register</a>
  <a href="login" class="btn btn-success btn-lg">Login</a>
  {% endif %}

 </div>
{% endblock %}

