{% extends 'layout.html' %}
{% block body %}


<style>

    body {


    background-image:url({{url_for('static',filename='blood.jpg')}})

    }

</style>


 <div class="jumbotron text-left" style="background-color: rgba(255, 99, 71, 0.2); position: absolute;  left: 8px;
width :auto;height:inherit;margin:auto">
  <h1 style="color:#660000"> <b>Emergency Blood and Platelet Shortage <br> Please Register.</b> </h1>
  <p class="lead" style="color:black" > From this website we can search blood doner </p>

   {% if session.logged_in == NULL %}
  <a href="register" class="btn btn-primary btn-lg">Register</a>
  <a href="login" class="btn btn-success btn-lg">Login</a>
  {% endif %}




 <div class="jumbotron text-left" style="background-color:white; position: absolute;  left: 3px;
width :auto;height:inherit;margin:auto">

  <p class="lead" style="color:black" > রাজারবাগের পীর ও তাঁর পৃষ্ঠপোষকতায় ‘উলামা আঞ্জুমান বাইয়্যিনাত’ বা ভিন্ন কোনো নামে জঙ্গি সংগঠন আছে কি না, তা খতিয়ে দেখে প্রতিবেদন দেওয়াসহ তিন দফা নির্দেশনাসংবলিত হাইকোর্টের আদেশ বহাল রেখেছেন আপিল বিভাগ।

হাইকোর্টের আদেশ স্থগিত চেয়ে আপিল বিভাগে আবেদন (লিভ টু আপিল) করেন এক ব্যক্তি। এ লিভ টু আপিল খারিজ করে দিয়েছেন আপিল বিভাগ।লিভ টু আপিলের ওপর শুনানি শেষে আপিল বিভাগের জ্যেষ্ঠ বিচারপতি মোহাম্মদ ইমান আলীর নেতৃত্বাধীন চার সদস্যের আপিল বেঞ্চ আজ মঙ্গলবার এ আদেশ দেন।

দেশের ৬টি জেলায় পৃথক ৩৪টি মামলা দিয়ে হয়রানির অভিযোগ এনে রাজারবাগের পীর ও তাঁর সহযোগীদের বিরুদ্ধে ব্যবস্থা নিতে নির্দেশনা চেয়ে আট ব্যক্তি গত মাসে হাইকোর্টে একটি রিট করেন।

রিটের শুনানি নিয়ে গত ১৯ সেপ্টেম্বর বিচারপতি এম. ইনায়েতুর রহিম ও বিচারপতি মো. মোস্তাফিজুর রহমান সমন্বয়ে গঠিত হাইকোর্ট বেঞ্চ রুল দিয়ে তিন দফা নির্দেশনাসহ আদেশ দেন।

হাইকোর্টের আদেশে রাজারবাগের পীর ও তাঁর পৃষ্ঠপোষকতায় ‘উলামা আঞ্জুমান বাইয়্যিনাত’ বা ভিন্ন কোনো নামে জঙ্গি সংগঠন আছে কি না, সে বিষয়ে আগামী ৩০ নভেম্বরের আগে পুলিশের কাউন্টার টেররিজম অ্যান্ড ট্রান্সন্যাশনাল ক্রাইম (সিটিটিসি) ইউনিটকে আদালতে প্রতিবেদন দিতে নির্দেশ দেওয়া হয়েছে।অপর নির্দেশনায় রাজারবাগের কথিত পীর দিল্লুর রহমান ও তাঁর প্রতিষ্ঠানগুলোর নামে দেশের বিভিন্ন স্থানে যেসব সম্পদ রয়েছে, তা নির্ণয় করার পাশাপাশি সম্পদের উৎস সম্পর্কে ৩০ নভেম্বরের আগে দুর্নীতি দমন কমিশনকে (দুদক) আদালতে প্রতিবেদন জমা দিতে বলা হয়।

একই সঙ্গে রিট আবেদনকারীদের বিরুদ্ধে বিভিন্ন হয়রানিমূলক মামলায় জড়িত ব্যক্তিদের চিহ্নিত ও প্রয়োজনীয় আইনগত ব্যবস্থা গ্রহণ করে আদেশ পাওয়ার ৬০ কার্যদিবসের মধ্যে আদালতে প্রতিবেদন দিতে পুলিশের অপরাধ তদন্ত বিভাগের (সিআইডি) অতিরিক্ত মহাপুলিশ পরিদর্শককে নির্দেশ দেওয়া হয়।


হাইকোর্টের ১৯ সেপ্টেম্বর দেওয়া আদেশ স্থগিত চেয়ে রিট আবেদনকারীদের বিরুদ্ধে করা এক মামলার বাদী মফিজুল ইসলাম আপিল বিভাগে আবেদন করেন।

২৩ সেপ্টেম্বর আবেদনটি চেম্বার আদালতে শুনানির জন্য ওঠে। সেদিন আদালত আবেদনটি ২৪ অক্টোবর আপিল বিভাগের নিয়মিত বেঞ্চে শুনানির জন্য পাঠান। এর ধারাবাহিকতায় ২৪ অক্টোবর লিভ টু আপিলের ওপর শুনানি হয়। আজ লিভ টু আপিল খারিজ করে আদেশ দেন আপিল বিভাগ।

আদালতে মফিজুলের পক্ষে শুনানি করেন আইনজীবী মুরাদ রেজা। অন্যদিকে রিট আবেদনকারীদের পক্ষে শুনানিতে ছিলেন আইনজীবী জেড আই খান পান্না ও মোহাম্মদ শিশির মনির।

রিট আবেদনকারীরা হলেন মো. আবদুল কাদের, মাহবুবুর রহমান, জয়নাল আবেদীন, মো. আলা উদ্দিন, জিন্নাত আলী, আইয়ুবুর হাসান, নাজমা আক্তার ও নার্গিস আক্তার। </p>

</div>


</div>



{% endblock %}

