<!DOCTYPE html>
<html lang="en" >

<head>

    <title>My Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='democss.css') }}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>



<body>
    {% include 'includes/_navbar.html' %}

 <div class="container"  style="height: auto;width:auto">
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
 </div>




<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"> </script>
<script src="//cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" ></script>
    <script>
        CKEDITOR.replace("editor")
    </script>
</body>


</html>
