{% extends 'layout.html' %}
    {% block body %}


<div class="main-wrapper-container" xmlns="http://www.w3.org/1999/html"/>
<div class="jumbotron text-center"
     style="background-color: rgba(255, 99, 71, 0.1); position:relative;width :1000px;height:auto;margin:auto">



<h1 style="text-align:center;font-weight:bold">Blood Donor Login </h1>
<form action="" method="post">
      <div class="col">
    <div class="row" style="padding-left: 200px;padding-right: 200px;">
        <label> UserName </label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>

        <label> Password </label>
        <input type="password" name="password" class="form-control" value={{request.form.password}}>

         <button type="submit" class="btn btn-primary" style="position: center;">Submit</button>


    </div>
      </div>
</form>
</div>
    {% endblock %}
