{% extends 'layout.html' %}
{% block body %}
<style>
    label {
        visibility: hidden;
    }
</style>

<div class="main"
     style="position: relative; background-color: #87CEEB; width: 100%; height: auto; margin-top: 5px; text-align: center; padding: 100px;">
    <h2 style="font-weight: bold; color: black;">Search Your Desired Blood Group</h2>

    <!-- Uncomment this section if you want to display flashed messages -->
    <!--
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes" style="list-style-type: none; padding: 0;">
                {% for message in messages %}
                    <li style="color: red; font-weight: bold;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    -->

    {% from "includes/_formhelpers.html" import render_field %}
    <form method="post">
        <dl>
            {{ render_field(form.select) }}
            {{ render_field(form.search) }}
            <input type="submit" value="Search">
        </dl>
    </form>
</div>
{% endblock %}
