{% extends 'layout.html' %}
{% block body %}
<div class="main" style="position:relative;background-color: #87CEEB;; width:100%; height:auto; margin-top:5px; text-align:center; padding:100px;">
     <h2 style="font-weight: bold;color:black">Upload Images One By One</h2>
<div class="container"  style="background-color: rgba(255, 99, 71, 0.1)">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-3  ">
            <form method="POST" class="mt-2 border border-primary" enctype="multipart/form-data"
                  action="{{ url_for('upload')}}" width="18%" height="18%">
                <div class="form-group " style="background-color: rgba(255, 99, 71, 0.1)">
                    <input type="file" name="file" accept="image/*">
                    <input type="submit" value="send">
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
<!--</div>-->

{% endblock %}




