{% extends 'layout.html' %}
{% block body %}
<!---<h1> Dashboard<small> Welcome To {{session.username}}</small></h1>-->
<!---<a class="btn btn-success" href="/add_article">Delete Users</a>-->


<style>
    body {
<!--    background-image:url({{url_for('static',filename='onecolor.jpg')}});-->
     background-color: coral;
     background-repeat: no-repeat;
     background-size: cover;
    }

    .table table-striped{
     margin-top: 25px;}
</style>


<!-- <hr>-->
<table class="table table-striped" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Blood Group</th>
        <th> Phone</th>
        <th> Last Date</th>
    </tr>


    {% for user in users %}
    <td>{{user[0]}}</td>
    <td>{{user[1]}}</td>
    <td>{{user[5]}}</td>
    <td>{{user[6]}}</td>
    <td>{{user[4]}}</td>
    <td>{{user[14]}}</td>
    <!--<td>{{user[4]}}</td>-->

    </tr>
    {% endfor %}

</table>
{% endblock %}
