
{% extends 'layout.html' %}
{% block body %}
<!---<h1> Dashboard<small> Welcome To {{session.username}}</small></h1>-->
<!---<a class="btn btn-success" href="/add_article">Delete Users</a>-->
<style>


    body {
    background-image:url({{url_for('static',filename='onecolor.jpg')}});
     background-repeat: no-repeat;
     background-size: cover;
    }
</style>



<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Blood Group </th>
        <th> Phone </th>
       <!-- <th>Password</th>-->
      <!--  <th>register_date</th>
        <th>Picture</th> -->
        <th></th>
        <th></th>
    </tr>
    {% for user in users %}
        <td>{{user[0]}}</td>
        <td>{{user[1]}}</td>
        <td>{{user[5]}}</td>
        <td>{{user[6]}}</td>
        <td>{{user[4]}}</td>
        <!--<td>{{user[4]}}</td>-->
       <!-- <td>{{user[5]}}</td> -->
       <!-- <<td><img src="/static/images/cat.jpg" alt="Related Book 2" width="20%" height="auto"></td> -->
       <!-- <td>{{request.files[file]}}</td>-->
    </tr>
    {% endfor %}

</table>
{% endblock %}
